# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local configs
local.properties
*.log

# OS junk
.DS_Store
Thumbs.db

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# Cache
captures/
.cxx/

# Keystore (если есть)
*.keystore
*.jks

# Misc
metadata/
nav_editor_config.xml

# Firebase
# google-services.json — можно оставить, если НЕ приватный ключ
# Если хочешь скрыть:
# app/google-services.json
